@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type='button'], [type='reset'], [type='submit'] {
    --tw-bg-opacity: 1;
    background-color: #1ebbd7;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.25rem;
}

button:active {
    --tw-bg-opacity: 1;
    background-color: rgba(30, 187, 215, 0.5);
}